.root {
    min-height: 60px;
    background: #2c3e50;
    border-bottom: 1px solid #ccc;
}

.title {
    color: white;
}

@media (max-width: 768px) {
    .root {
        flex-direction: column;
    }

    .content {
        margin: 12px 0;
    }
}