.root {
  position: relative;
}

.newItem,
.item {
  width: 100%;
  min-width: 250px;
  min-height: 310px;
  max-height: 310px;
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
}

.item {
  padding: 18px 12px 12px 12px;
  box-shadow: 10px 8px 29px -5px rgb(34 60 80 / 60%)
}

.item:hover {
  box-shadow: 10px 8px 29px -5px rgb(34 60 80 / 85%);
}

.newItem {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px dashed #eaeaea;
  padding: 12px;
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.content:hover .deleteButton {
  display: block;
}

.title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 6px;
}

.text {
  white-space: pre-wrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 13;
  -webkit-line-clamp: 13;
}

.deleteButton {
  display: none;
  position: absolute;
  bottom: 12px;
  right: 12px;
  height: 24px;
  width: 24px;
}

.imgContainer {
  position: absolute;
  top: 0;
  height: 18px;
  width: 100%;
}

.pinImg {
  position: relative;
  bottom: 12px;
}

.addIcon {
  height: 48px;
  width: 48px;
  fill: #eaeaea;
}

@media (pointer: coarse) {
  .deleteButton {
    display: block;
  }
}
